:root {
    --font-lucid: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    --font-tech: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    --font-size: 0.9rem;
    --text-color: #2B2862;
    --title-color: #FFF;
    --base-color: #6367FD;
    --secondary-color: #dce0e0;
}


body{
    font-family: var(--font-tech);
    font-size: var(--font-size);
    color: var(--text-color);
    height: 100vh;
    background-image: url("../img/background.svg");
    background-position: center;
    background-size: cover;
}

.positioning{
    position: relative;
    height: inherit;
}

/* -------------------- MAIN --------------------*/

.content{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 90vh;
    box-shadow: 0 4px 8px 0 rgba(233, 233, 233, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.566), rgba(255, 255, 255, 0.76)), url("../img/volcano.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    background-color: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
nav a{
    color: var(--text-color);
    transition: 0.5s;
    margin: 0px 2px;
    width: 110px;
    max-width: 250px;
    text-align: center;
}

nav a:hover, nav .active{
    background-color: #2B2862;
    color: #FFF;
    border-radius: 2px;
}

main{
    height: 85%;
    width: 100%;    
}

main .container-fluid{
    height: 100%;
}

.main-content{
    padding:5% 10%;
}

.title{
    color: var(--text-color);
    margin: 0 0 15px;
    width: 50%;
    line-height: 1.7;
}

.text-content{
    margin: 10% 0 10% 0;
    line-height: 1.8;
    width: 40%;
}

.items{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 auto;
    height: 40%;
}

.item{
    flex-basis: 32%;
    padding: 30px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    transition: transform 0.3s;
}

.item:hover{
    transform: translateY(-10px);
}

.item h5{
    width: 80%;
    line-height: 1.5;
}


.item button{
    color: #0a70f5;
    border:none;
    outline:none;
    box-shadow: none;
    background-color: transparent;
    transition: transform 0.3s;
}

.item button:hover{
    transform: translateY(-5px)
}

.item:last-child button{
    outline:none;
    box-shadow: none;
    border:1px solid #0a70f5;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.8rem;
}

.item:last-child button:hover{
    box-shadow: 0 4px 8px 0 rgba(10, 112, 245, 0.2), 0 6px 20px 0 rgba(10, 112, 245, 0.19);
    background-color: #0a70f5;
    color: #FFF;
}

.arrow{
    display: inline-block;
   margin:0 5px;
   transform: translateY(-2px);
}



