:root {
    --font-lucid: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    --font-tech: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    --font-size: 0.9rem;
    --font-color: #B2AAAB;
    --base-color: #23141B;
    --secondary-color: #AF2830;
}


body{
    font-family: var(--font-tech);
    font-size: var(--font-size);
    color: var(--font-color);
    height: 100vh;
    background-color: var(--secondary-color);
}

/* -------------------- MAIN --------------------*/

main{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 75vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    background-color: var(--base-color);
    padding: 100px 8%;
}

ul{
    padding:0;
    padding-left: 15px;
    margin-top: 30%;
}

li{
    margin:10px 0;
}

.btn-start{
    position:absolute;
    border:none;
    width: 200px;
    max-width: 300px;
    padding: 10px 20px;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    background-color: transparent;
    bottom:20px;
    transition: 0.5s;
}

.btn-start:hover{
    background-color: var(--secondary-color);
    color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(175, 40, 49, 0.2), 0 6px 20px 0 rgba(175, 40, 49, 0.19);
    
}

.section-left, .section-right{
    position:relative;
}

.section-right button{
    color: #FFF;
    background-color: var(--secondary-color);
}

.section-right button:hover{
    background-color: transparent;
}

.section-right{
    padding-left: 100px;
    height: 45vh;
}

